{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <img
          src="{% static 'images/logo22.png' %}"
          alt="Logo"
          class="logo-img"
        />
      </div>

      <h1>LOG IN AS YOUR ROLE</h1>

   
      {% if error %}
        <div style="
            background: #ffdddd;
            color: #a94442;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            text-align: center;
        ">
          {{ error }}
        </div>
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          required
        />

        <label for="nin">NIN</label>
        <input
          type="text"
          name="nin"
          maxlength="14"
          minlength="14"
          placeholder="e.g CM123456789AB"
          pattern="^(CM|CF)[A-Z0-9]{12}$"
          title="NIN must be exactly 14 characters (CM or CF + 12 characters)"
          required
        />

        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          placeholder="Enter email address"
          required
        />

        <label>Password</label>
        <input type="password" name="password" required />

        <label for="phone">Phone Number</label>
        <input
          type="text"
          name="phone"
          placeholder="+256740230081"
          pattern="^\+256[0-9]{9}$"
          maxlength="13"
          title="Phone must be in format +256XXXXXXXXX"
          required
        />

        <label for="role">Log in As</label>
        <select name="role" required>
          <option value="">Select your role</option>
          <option value="admin">Admin</option>
          <option value="sales">Sales Manager</option>
          <option value="stock_manager">Stock Manager</option>
        </select>

        <div class="remember-box">
          <input type="checkbox" id="remember" />
          <label for="remember">Remember me</label>
        </div>

        <button type="submit">Log in</button>
    
      </form>
    </div>
  </body>
</html>